---
interface Item {
  title: string;
  href: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<ul class="w-full p-10">
  {
    items.map((item) => (
      <li>
        <a class="toc-item" href={item.href}>
          {item.title}
        </a>
      </li>
    ))
  }
</ul>
